.Poll {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.Body {
  background-color: #0b1218;
  color: white;
}

.LogoWrapper {
  display: flex;
  justify-content: space-around;
}

h3 {
  text-transform: capitalize;
}

p {
  text-transform: capitalize;
  font-size: 14px;
}

@media (max-width: 540px) {
  .Poll {
    width: 80%;
  }
}
