.Button {
  border: none;
  color: #0b1218;
  outline: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  min-width: 100px;
}

.Win {
  background-color: #fafa20;
}

.Draw {
  background-color: #0b1218;
  color: #fafa20;
  border: 3px solid #fafa20;
}
