.Logo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color: white;
    border-radius: 50%;
}

.Logo img {
    width: 120px;
}

@media (max-width: 540px) {
    .Logo img {
        width: 80px;
    }
}