.Header {
  display: flex;
  justify-content: space-between;
}

.HeaderLeft {
  background-color: #fafa20;
  padding: 12px 9px 0px 9px;
}

.HeaderRight {
  text-align: right;
}

.Header img {
  width: 50px;
}
